// nav
nav.b-nav.b-nav--show-search

	.row
		.small-5.small-centered.columns
			ul
				li: a.active(href="#") Подборки
				li
					a(href="#") По алфавиту
					i.icon-Dropdown
				li: a(href="#") По теме

		.small-1.columns
			i.icon-Search

	.row
		.small-12.columns
			.b-search__wrapper
				input(autofocus="true",  type="search", placeholder="Поиск по индексу, названию, теме или издателю", value="")
// /nav