//- nav-tablet.jade

nav.b-nav
	.row
		.small-8.small-centered.columns
			ul
				li
					a(href="#").text-center.active
						img.b-subscription__photo(src="/src/images/photo-magazine5.jpg")
						.b-subscription__type
							i.icon-book
							span Журнал
				li
					a(href="#").text-center
						img.b-subscription__photo(src="/src/images/tablet1.jpg")
						.b-subscription__type
							i.icon-mobile
							span Электронное издание

