@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?yz6e21');
	src:url('fonts/icomoon.eot?yz6e21#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?yz6e21') format('truetype'),
		url('fonts/icomoon.woff?yz6e21') format('woff'),
		url('fonts/icomoon.svg?yz6e21#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-Alert:before {
	content: "\e900";
}
.icon-calendar:before {
	content: "\e811";
}
.icon-Back:before {
	content: "\e803";
}
.icon-Checkbox:before {
	content: "\e804";
}
.icon-Dropdown:before {
	content: "\e805";
}
.icon-Dropdown2:before {
	content: "\e806";
}
.icon-Geo:before {
	content: "\e807";
}
.icon-Help:before {
	content: "\e808";
}
.icon-Item_pop_close:before {
	content: "\e809";
}
.icon-More:before {
	content: "\e80a";
}
.icon-region_pop_close:before {
	content: "\e80b";
}
.icon-Search:before {
	content: "\e80c";
}
.icon-Search2:before {
	content: "\e80d";
}
.icon-shoppingcart:before {
	content: "\e80e";
}
.icon-shopping_cart_delete:before {
	content: "\e80f";
}
.icon-Show:before {
	content: "\e810";
}
.icon-facebook-icon:before {
	content: "\e800";
}
.icon-twitter-icon:before {
	content: "\e801";
}
.icon-vk-icon:before {
	content: "\e802";
}
.icon-circle-right:before {
	content: "\e603";
}
.icon-mobile:before {
	content: "\e601";
}
.icon-question:before {
	content: "\e604";
}
.icon-book:before {
	content: "\e600";
}
.icon-compass:before {
	content: "\e608";
}

