//- alphabetical-search.jade

include ../includes/_mixins

doctype html
html(lang="ru")
	- var title = "Почта России – поиск по алфавиту"

	include ../includes/_head

	body
		include ../includes/_header

		// content
		section.b-content(role="main")

			// nav
			nav.b-nav

				.row

					.small-5.small-centered.columns
						ul
							li: a(href="#")
								| Подборки
							li
								a.active.index-list-show(href="#") По алфавиту
								i.icon-Dropdown
							li: a(href="#")
								| По теме
						.b-index-wrapper
							.b-index-list
								.b-index-list__item
									.b-index-list__item__heading  0–9
									.b-index-list__item__set
										each val in figures
											a(href="#")= val

								.b-index-list__item
									.b-index-list__item__heading  АБВ
									.b-index-list__item__set
										each val in cyrilAlphabet
											a(href="#")= val

								.b-index-list__item
									.b-index-list__item__heading  ABC
									.b-index-list__item__set
										each val in latinAlphabet
											a(href="#")= val

					.small-1.columns
						i.icon-Search

				// /nav

			.row
				.small-12.columns
					section.b-results
						article.b-letters
							h2 Ж
							- var setImg = true
							+results("Комплект", "ЖКХ: журнал руководителя и главного бухгалтера + Жилищно-коммунальное хозяйство: бухгалтерский учет и налогообложение")
							- var setImg = false
							+results("Журнал","Железнодорожные перевозки")

						article.b-letters
							h2 З
							- var setImg = true
							+results("Комплект", "За рулем + За рулем. Рейс. Комплект")
							- var setImg = false
							+results("Журнал","Забавные наклейки")

			.row
				.small-12.column

					// recently viewed
					section.b-recently-viewed
						.row
							.small-12.columns
								h2 Вы недавно смотрели

						.row
							.small-2.columns
								+block-recently-viewed
							.small-2.columns
								+block-recently-viewed
							.small-2.columns
								+block-recently-viewed
							.small-2.columns
								+block-recently-viewed
							.small-2.columns
								+block-recently-viewed
							.small-2.columns
								+block-recently-viewed
					// /recently viewed


		// /content

		// footer
		include ../includes/_footer
		// /footer